<h3>OS</h3>
<div class="skills_wrapper_div">
  {%- for OS_icon in include.OS.OS_icons -%}
    <img
      alt="OS Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.OS.icon_path }}/{{ OS_icon.filename }}"
      title="{{ OS_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Languages</h3>
<div class="skills_wrapper_div">
  {%- for language_icon in include.languages.language_icons -%}
    <img
      alt="Known Language Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.languages.icon_path }}/{{ language_icon.filename }}"
      title="{{ language_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Programming Languages</h3>
<div class="skills_wrapper_div">
  {%- for language_icon in include.programming.programming_icons -%}
    <img
      alt="Language Learning Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.programming.icon_path }}/{{ language_icon.filename }}"
      title="{{ language_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Frameworks</h3>
<div class="skills_wrapper_div">
  {%- for framework_icon in include.frameworks.framework_icons -%}
    <img
      alt="Framework Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.frameworks.icon_path }}/{{ framework_icon.filename }}"
      title="{{ framework_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Editors</h3>
<div class="skills_wrapper_div">
  {%- for editor_icon in include.editors.editor_icons -%}
    <img
      alt="Editor Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.editors.icon_path }}/{{ editor_icon.filename }}"
      title="{{ editor_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Tools</h3>
<div class="skills_wrapper_div">
  {%- for tool_icon in include.tools.tool_icons -%}
    <img
      alt="Tool Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.tools.icon_path }}/{{ tool_icon.filename }}"
      title="{{ tool_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Engineering</h3>
<div class="skills_wrapper_div">
  {%- for software_icon in include.engineering.software_icons -%}
    <img
      alt="Engineering Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.engineering.icon_path }}/{{ software_icon.filename }}"
      title="{{ software_icon.title }}"
    />
  {%- endfor -%}
</div>

<h3>Others</h3>
<div class="skills_wrapper_div">
  {%- for others_icon in include.others.others_icons -%}
    <img
      alt="Others Icon"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.others.icon_path }}/{{ others_icon.filename }}"
      title="{{ others_icon.title }}"
    />
  {%- endfor -%}
</div>