#article {
  margin-left: 35px !important;
  margin-top: 20px !important;
}
#blog-post-container {
  margin-top: -20px;
  margin-left: -35px;
}

#blog-posts-container {
  margin-left: 20px !important;
}

#article-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 50fr 4fr;
}

#recent-articles,
#recent-projects {
  margin-top: 100px !important;
}

#recent-articles-header {
  display: grid;
  width: 100%;
  grid-template-columns: 17fr 2fr;
}

#article-img,
#article-link,
#article-alert {
  padding-left: 5px;
  padding-top: 2px;
  margin: 5px;
}

.recent-article-link {
  font-size: 20px;
  text-decoration: none;
}

.article-card-link,
.article-card-link:hover {
  text-decoration: none;
  color: orange !important;
}

.article-card {
  list-style-type: none;
}

.article-card a :hover {
  text-decoration: none;
  background: #303030 !important;
  border-color: #303030;
  background: transparent;
}

.blog-post {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 45%;
  height: auto;
  margin: 20px auto !important;
}

.blog-post:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#newsletter_footer {
  background-color: var(--newsletter-background-color);
  color: var(--main-text-color);
  text-align: center;
  margin-top: 100px;
}