/* Navigation Header */
header {
    background-color: var(--main-background-color);
    box-shadow: 0px;
    height: auto;
    width: 100%;
    padding: 11px;
  }
  
  #topNav {
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--main-background-color) !important;
    box-shadow: #000 0px 0px 8px;
  }
  
  #navbar-hamburger {
    color: var(--bold-color) !important;
  }
  
  .navbar-dark .navbar-brand {
    color: var(--link-color) !important;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: var(--nav-link-color) !important;
  }
  
  .navbar-dark .navbar-toggler {
    border-color: transparent !important;
  }
  
  .navbar-brand-img {
    width: 50px;
    height: 50px;
  }