/* Responsive Media Queries */

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 320px to 480px
  */

  @media (min-width: 320px) and (max-width: 480px) {
    header {
      height: auto;
      text-align: center;
      background-color: var(--main-background-color);
      box-shadow: 0px;
      height: auto;
      width: 100%;
      padding: 1px;
  
      #author-img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
  
      #author_details {
        text-align: center;
      }
    }
  
    #mc-embedded-subscribe-form {
      width: 100%;
      padding: 50px;
    }
  
    #mc_embed_signup_scroll_footer {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      font-size: 12px;
    }
  
    #mce-EMAIL_footer {
      width: 200px;
      padding: 14px;
      color: #111;
      border-color: #fff;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
    }
  
    #mc-embedded-subscribe_footer {
      margin-top: 30px;
    }
  
    .blog-post {
      width: 100%;
      height: auto;
      margin: 20px !important;
    }
  
    #topNav {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .navbar-brand {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
    }
  
    .jumbotron {
      padding: 10rem 1rem !important;
    }
  }
  
  /* Smartphones */
  @media (min-width: 200px) and (max-width: 319px) {
    header {
      height: auto;
      text-align: center;
      background-color: var(--main-background-color);
      box-shadow: 0px;
      height: auto;
      width: 100%;
      padding: 1px;
  
      #author-img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
  
      #author_details {
        text-align: center;
      }
    }
  
    #mc-embedded-subscribe-form {
      width: 100%;
      padding: 50px;
    }
  
    #mc_embed_signup_scroll_footer {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      font-size: 12px;
    }
  
    #mce-EMAIL_footer {
      width: 200px;
      padding: 14px;
      color: #111;
      border-color: #fff;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
    }
  
    #mc-embedded-subscribe_footer {
      margin-top: 30px;
    }
  
    .blog-post {
      width: 100%;
      height: auto;
      margin: 20px !important;
    }
  
    #topNav {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .navbar-brand {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      margin-left: -30px;
    }
  
    .jumbotron {
      padding: 10rem 1rem !important;
    }
  }
  
  /*
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
      */
  
  @media (min-width: 481px) and (max-width: 767px) {
    /*Header Navigation */
    header {
      background-color: var(--main-background-color);
      box-shadow: 0px;
      height: auto;
      width: 100%;
      padding: 11px;
  
      #author-img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
  
      #author_details {
        text-align: center;
      }
    }
  
    #topNav {
      padding-left: 0px;
      padding-right: 0px;
    }
  
    #mc-embedded-subscribe-form {
      width: 100%;
      padding: 50px;
    }
  
    #mc_embed_signup_scroll_footer {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      font-size: 12px;
    }
  
    #mce-EMAIL_footer {
      width: 200px;
      padding: 14px;
      color: #111;
      border-color: #fff;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
    }
  
    #mc-embedded-subscribe_footer {
      margin-top: 30px;
    }
  
    .blog-post {
      width: 100%;
      height: auto;
      margin: 20px !important;
    }
  }