/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
  }