html[data-theme="dark"] {
  --bold-color: rgb(188, 188, 188);
  --box-background-color: hsl(0, 0%, 20%);
  --highlight-color: hsl(0, 0%, 60%);
  --light-border-color: hsl(0, 0%, 30%);
  --light-text-color: rgb(199, 199, 204);
  --link-color: #65a2ee;
  --link-color-visited: hsl(250, 100%, 60%);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(139, 139, 139);
  --medium-text-color: hsl(0, 0%, 70%);
  --scrollbar-background-color: rgb(28, 28, 30);
  --scrollbar-thumb-color: #212529;
  --scrollbar-hover-color: #333;
  --underline-color: hsl(0, 0%, 50%);
  --social-link-color: #ffffff;
  --card-background-color: rgb(32, 32, 34);
  --newsletter-background-color: #222324;
  --button-background-color: #111;
}
  
html,html[data-theme="light"] {
  --bold-color: rgb(0, 0, 0);
  --box-background-color: rgb(249, 249, 250);
  --highlight-color: hsl(0, 0%, 80%);
  --light-border-color: rgb(230, 230, 230);
  --light-text-color: rgb(72, 72, 74);
  --link-color: rgb(0, 112, 201);
  --link-color-visited: hsl(250, 100%, 37%);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
  --medium-text-color: hsl(0, 40%, 2%);
  --sidebar-color: hsl(0, 0%, 90%);
  --scrollbar-background-color: rgb(250, 250, 250);
  --scrollbar-thumb-color: hsl(0, 0%, 90%);
  --scrollbar-hover-color: hsl(0, 0%, 80%);
  --underline-color: hsl(0, 0%, 60%);
  --social-link-color: #262222;
  --card-background-color: rgb(250, 250, 250);
  --newsletter-background-color: #00000008;
  --button-background-color: #fff;
}
  
@media (prefers-color-scheme: dark) {
  /* Dark Mode */
  html,html[data-theme="dark"] {
    --bold-color: rgb(188, 188, 188);
    --box-background-color: hsl(0, 0%, 20%);
    --highlight-color: hsl(0, 0%, 60%);
    --light-border-color: hsl(0, 0%, 30%);
    --light-text-color: rgb(199, 199, 204);
    --link-color: #65a2ee;
    --nav-color: #131313;
    --nav-link-color: rgba(255, 255, 255, 0.5);
    --link-color-visited: hsl(250, 100%, 60%);
    --main-background-color: rgb(28, 28, 30);
    --main-text-color: rgb(139, 139, 139);
    --medium-text-color: hsl(0, 0%, 70%);
    --underline-color: hsl(0, 0%, 50%);
    --social-link-color: #ffffff;
    --card-background-color: rgb(32, 32, 34);
    --newsletter-background-color: #222324;
    --button-background-color: #111;
  }
  
  /* Light Mode */
  html[data-theme="light"] {
    --bold-color: rgb(0, 0, 0);
    --box-background-color: rgb(249, 249, 250);
    --highlight-color: hsl(0, 0%, 80%);
    --light-border-color: rgb(230, 230, 230);
    --light-text-color: rgb(72, 72, 74);
    --link-color: rgb(0, 112, 201);
    --nav-color: #ffffff;
    --nav-link-color: #111111;
    --link-color-visited: hsl(250, 100%, 37%);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
    --medium-text-color: hsl(0, 0%, 20%);
    --sidebar-color: hsl(0, 0%, 90%);
    --underline-color: hsl(0, 0%, 60%);
    --social-link-color: #262222;
    --card-background-color: rgb(250, 250, 250);
    --button-background-color: #fff;
  }
}
  
html,html[data-theme="dark"],html[data-theme="light"] {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}