---
layout: default
---
<div class="row">
  <div class="col-lg-4">
    <div class="card" id="profile-card">
      <a href="/"><img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img"/></a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
      {% if site.github_username %}
        {%- include github_follow_button.html -%}
      {%endif %}
      <p class="profile-links">
        {% if site.twitter_username %}
          <a class="social-link" href="http://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
        {% endif %}
        {% if site.facebook_username %}
          <a class="social-link" href="http://facebook.com/{{ site.facebook_username }}"><i class="fab fa-facebook-f"></i></a>
        {% endif %}
        {% if site.instagram_username %}
          <a class="social-link" href="http://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram"></i></a>
        {% endif %}
        {% if site.medium_username %}
          <a class="social-link" href="http://medium.com/@{{ site.medium_username }}"><i class="fab fa-medium-m"></i></a>
        {% endif %}
        {% if site.github_username %}
          <a class="social-link" href="http://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
        {% endif %}
        {% if site.behance_username %}
          <a class="social-link" href="http://behance.net/{{ site.behance_username }}"><i class="fab fa-behance"></i></a>
        {% endif %}
        {% if site.linkedin_username %}
          <a class="social-link" href="http://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin-in"></i></a>
        {% endif %}
        {% if site.telegram_username %}
          <a class="social-link" href="http://t.me/{{ site.telegram_username }}"><i class="fab fa-telegram-plane"></i></a>
        {% endif %}
        {% if site.dribbble_username %}
          <a class="social-link" href="https://dribbble.com/{{ site.dribbble_username }}"><i class="fab fa-dribbble"></i></a>
        {% endif %}
        {% if site.flickr_username %}
          <a class="social-link" href="https://www.flickr.com/photos/{{ site.flickr_username }}"><i class="fab fa-flickr"></i></a>
        {% endif %}
      </p>

      {% if site.author_location %}
        <h6><a href="https://www.google.com/maps/search/?api=1&query={{ site.author_location }}" class="social-link"><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</a></h6>
      {% endif %}
      {% if site.author_email %}
        <h6><a href="mailto:{{ site.author_email }}"><i class="fas fa-envelope" class="social-link"></i> {{ site.author_email }}</a></h6>
      {% endif %}
      {% if site.author_website_url %}
        <h6><a href="{{ site.author_website_url }}"><i class="fas fa-link" class="social-link"></i> {{ site.author_website_url }}</a></h6>
      {% endif %}
    </div>

    <div class="card">
      <h1>Skills</h1>
      {%-
        include author_skills.html
          OS = site.data.skills.OS
          languages = site.data.skills.languages
          programming = site.data.skills.programming
          frameworks = site.data.skills.frameworks
          editors = site.data.skills.editors
          tools = site.data.skills.tools
          engineering = site.data.skills.engineering
          others = site.data.skills.others
      -%}
    </div>    
  </div>
  
  <div class="col-lg-8">
    {% if site.author_bio %}
      <div class="card">
        <h1>About</h1>
        <p>{{ site.author_bio }}</p>
      </div>
    {% endif %}
    
    <div class="col-lg-12">
      <ul class="nav nav-tabs mb-3" id="pills-tab">
          <li class="nav-item active">
              <a lang='en' class="nav-link" data-toggle="pill" href="#pills-work-experience" id="pills-work-experience-tab-en">Work Experience</a>
          </li>
          <li class="nav-item">
              <a lang='en' class="nav-link" data-toggle="pill" href="#pills-other-experiences" id="pills-other-experiences-tab-en">Other Experiences</a>
          </li>
          <li class="nav-item">
              <a lang='en' class="nav-link" data-toggle="pill" href="#pills-projects"  id="pills-projects-tab-en">Projects</a>
          </li>
          <li class="nav-item">
              <a lang='en' class="nav-link" data-toggle="pill" href="#pills-education" id="pills-education-tab-en">Education</a>
          </li>
          <li class="nav-item">
              <a lang='en' class="nav-link" data-toggle="pill" href="#pills-sport" id="pills-education-tab-en">Sports Path</a>
          </li>
      </ul>
  
      <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade in active show" id="pills-work-experience">
              {%- if site.show_author_work_experience == true -%}
                  <div class="card">
                      <h1 lang='en' class="card-title">Work Experience</h1>
                      <br />
                      {%- for exp in site.author_work_experience -%}
                          {%- if exp.visibility == true -%}
                          <div class="row">
                              <div class="col-md-6 center col-lg-5 col-xl-2">
                                  <img src="{{site.url}}{{site.baseurl}}/assets/img/logo/{{ exp.company_logo }}" class="company-logo"/>
                                </div>
                                <div class="col-md-6 center col-lg-7 col-xl-10">
                                  <h4 class="experience-title">{{ exp.designation }}</h4>
                                  <h6 class="experience-info"><a href="{{exp.company_url}}">{{ exp.company_name}}</a></h6>
                                  <p class="experience-desc">{{ exp.description }}</p>
                                  <br>
                                </div>
                          </div>
                          {%- endif -%}
                      {%- endfor -%}
                  </div>
              {%- endif -%}
          </div>
          <div class="tab-pane fade" id="pills-other-experiences">
              {%- if site.show_author_other_experiences == true -%}
                  <div class="card">
                      <h1 lang='en' class="card-title">Other Experiences</h1>
                      <br />
                      {%- for exp in site.author_other_experiences -%}
                          {%- if exp.visibility == true -%}
                          <div class="row">
                              <div class="col-md-6 center col-lg-5 col-xl-2">
                                  <img src="{{site.url}}{{site.baseurl}}/assets/img/logo/{{ exp.company_logo }}" class="company-logo"/>
                                </div>
                                <div class="col-md-6 center col-lg-7 col-xl-10">
                                  <h4 class="experience-title">{{ exp.designation }}</h4>
                                  <h6 class="experience-info"><a href="{{exp.company_url}}">{{ exp.company_name}}</a></h6>
                                  <p class="experience-desc">{{ exp.description }}</p>
                                  <br>
                                </div>
                          </div>
                          {%- endif -%}
                      {%- endfor -%}
                  </div>
              {%- endif -%}
          </div>
          <div class="tab-pane fade" id="pills-projects">
              {%- if site.show_author_projects == true -%}
                  <div id="author_projects" class="card">
                      <h1 lang='en' class="card-title">Projects</h1>
                      <br />
                      {%- for project in site.author_projects -%}
                          {%- if project.visibility == true -%}
                              <div class="row">
                                  <div class="col-md-6 center col-lg-5 col-xl-2">
                                      <img src="{{site.url}}{{site.baseurl}}/assets/img/logo/{{project.project_thumbnail}}" class="company-logo"/>
                                  </div>
                                  <div class="col-md-6 center col-lg-7 col-xl-10">
                                      <h4 class="experience-title">{{ project.project_title }}</h4>
                                      <h6 class="experience-info"><a class="project-link" href="{{project.project_url}}">Page</a> - <a class="project-link" href="{{project.repository_url}}">Code Repo</a></h6>
                                      <p class="experience-desc">{{ project.project_description }}</p>
                                  </div>
                              </div>
                              <br />
                          {%- endif -%}
                      {%- endfor -%}
                  </div>
              {%- endif -%} 
          </div>
          <div class="tab-pane fade" id="pills-education">
              {%- if site.show_author_education == true -%}
                  <div class="card">
                      <h1 lang='en' class="card-title">Education</h1>
                      <br />
                      {%- for education in site.author_education -%}
                          {%- if education.visibility == true -%}
                          <div class="row">
                              <div class="col-md-6 center col-lg-5 col-xl-2">
                                <img src="{{site.url}}{{site.baseurl}}/assets/img/logo/{{ education.college_logo}}" class="company-logo"/>
                              </div>
                              <div class="col-md-6 center col-lg-7 col-xl-10">
                                <h4 class="experience-title">{{education.college_degree }}</h4>
                                <h6 class="experience-info"><a href="{{education.college_url}}">{{education.college_name}}</a></h6>
                                <p class="experience-desc">{{education.description}}</p>
                              </div>
                            </div>
                            <br/>
                          {%- endif -%}
                      {%- endfor -%}
                  </div>
              {%- endif -%}
          </div>
          <div class="tab-pane fade" id="pills-sport">
              {%- if site.show_author_sports_path == true -%}
                  <div class="card">
                      <h1 lang='en' class="card-title">Sports Path</h1>
                      <br />
                      {%- for sport in site.author_sports_path -%}
                          {%- if sport.visibility == true -%}
                          <div class="row">
                              <div class="col-md-6 center col-lg-5 col-xl-2">
                                <img src="{{site.url}}{{site.baseurl}}/assets/img/logo/{{ sport.logo}}" class="company-logo"/>
                              </div>
                              <div class="col-md-6 center col-lg-7 col-xl-10">
                                <h4 class="experience-title">{{sport.title }}</h4>
                                <h6 class="experience-info"><a href="{{sport.url}}">{{sport.team_name}}</a> - {{sport.sport}}</h6>
                                <p class="experience-desc">{{sport.period}}</p>
                                <p class="experience-desc">{{sport.achivements}}</p>
                              </div>
                            </div>
                            <br/>
                          {%- endif -%}
                      {%- endfor -%}
                  </div>
              {%- endif -%}
          </div>
      </div>
    </div>
  </div>
</div>